#tlk{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    overflow: hidden;
    top: 10vh;
    display: none;
}
#buttonexchat{
    border-radius: 5px;
    background-color: #5c5b59;
    box-shadow: 2px 3px 0px rgb(255, 255, 255);
}
#toydefense:hover{
    background-size: cover;
    background-image: url(animations/toydefense.png);
    background-position: center;
}