#sidebar{
    position: absolute;
    left: 1vh;
    border-style: solid;
    border-color: white;
    width: 20vh;
    height: 95vh;
}
#main{
    position: absolute;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    width: 150vh;
    height: 95vh;
    right: 1vh;
    top: 1vh;
}
#tut{
    position: relative;
    z-index: 1;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    width: 50vh;
    height: 50vh;
    top: 25vh;
    left: 80vh;
    display: none;
}
#tutp{
    font-size: 3vh;
    top:  3vh;
    margin: 1vh;
}
#head{
    position: relative;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    width: 148vh;
    margin: 1vh;
    /*left: .75vh;*/
}
#title{
    position: relative;
    color: white;
    align-self: center;
    left: 67vh;
}
#body{
    background-color: black;
}
#character{
    margin: 4px;
    font-size: 3vh;
}
#games{
    margin: 10px;
}
.icon{
    position: relative;
    padding: 50px;
    border-style: solid;
    border-radius: 20px;
    border-color: white;
    text-align: center;
    vertical-align: center;
    background-color: transparent;
    width: 60px;
    min-height: 60px;
    margin: 10px;
    display: inline-block;
}
.icon:hover{
    cursor: pointer;
}
.iconp{
    color: white;
}
#x{
    position: absolute;
    border-radius: 200px;
    top: 0px;
    left: 98.5%;
    z-index: 2;
}
#app{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: none;
    border-color: white;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}