#sidebar{
    position: absolute;
    left: 1vh;
    border-style: solid;
    border-color: white;
    width: 20vh;
    height: 95vh;
}
#main{
    position: absolute;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    width: 150vh;
    height: 95vh;
    right: 1vh;
    top: 1vh;
}
#tut{
    position: absolute;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    width: 50vh;
    height: 50vh;
    top: 25vh;
    left: 80vh;
    display: none;
}
#tutp{
    font-size: 3vh;
    top:  3vh;
    margin: 1vh;
}
#head{
    position: relative;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    width: 148vh;
    margin: 1vh;
    /*left: .75vh;*/
}
#title{
    position: relative;
    color: white;
    align-self: center;
    left: 67vh;
}
#body{
    background-color: black;
}